.login-background-image{
    // background-image: url('/assets/images/h1_slider1.jpg');
    background-image: url('https://www.gaalactic.fr/~sev5204e_11/assets/images/h1_slider1.jpg');
}
.login-background-tint
{
    opacity: 0.9;
    background-color: #3f51b591;
    width: 100%;
    height: 100%;
    position: absolute;
}

.loginBox-width{
    width: 400px;
}